@font-face{
    font-family: 'mindmap-icon';
    src: url(./icon/iconfont.woff) format('woff');
}

// .mo-icon-flag-c {
//     font-family: 'morningicon' !important;
//     font-size: 16px;
//     font-style: normal;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

.mindmap{
    display: block;
    position: relative;

    .mindmap-canvas{
        display: block;
        height: 100%;
        width: 100%;
    }

    .mindmap-editor{
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: left top;

        textarea{
            padding: 0;
            height: 100%;
            border: none;
            outline: none;
            resize: none;
            overflow: hidden;
            background: #FFF;
            color: #000;
            position: absolute;
            box-sizing: border-box;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            white-space: nowrap;
        }
    }

    .mindmap-box-edit-link,
    .mindmap-box-edit-note,
    .mindmap-box-edit-tag,
    .mindmap-menu-link,
    .mindmap-menu-note,
    .mindmap-menu-tag{
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        background: #FFF;
        border: 1px #E0E0E0 solid;
        border-radius: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    }

    .mindmap-box-edit-link,
    .mindmap-box-edit-note,
    .mindmap-box-edit-tag{
        margin-top: 6px;
        padding: 12px;

        .arrow{    
            border-color: #FFFFFF #0000 #0000 #FFFFFF;
            box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1);
            top: -5px;
            left: calc(50% - 10px);
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px;
            transform: rotate(45deg);
        }

        h3{
            padding: 0 0 16px 0;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            color: #666;
        }

        textarea{
            border: none;
            outline: none;
            font-size: 14px;
            resize: none;
            min-width: 200px;
        }
    }

    .mindmap-menu-link,
    .mindmap-menu-note,
    .mindmap-menu-tag{
        padding: 6px 0;
        flex-direction: column;

        i.line{
            display: block;
            height: 1px;
            background-color: #cfcfcf;
            margin: 6px 0;
        }

        a{
            color: #444;
            text-decoration: none;
            padding: 3px 12px;
            font-size: 13px;
            min-width: 40px;
            text-align: center;

            &:hover{
                background-color: #5496d2;
                color: #FFF;
            }

            &:last-child{
                border-bottom: none;
            }
        }
    }

    .g6-minimap{
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
